# Open Project theme setup

title: Ribose
title_html: Collaborative technologies for all

tagline: >-
  <strong>Collaborative technologies</strong>
  <br>
  for&nbsp;all

description: >-
  Collaborative technologies for all

seo:
  type: Organization

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

social:
  links:
    - https://twitter.com/RiboseUS
    - https://github.com/riboseinc

legal:
  name: Ribose Group Inc.
  tos_link: /tos/
  privacy_policy_link: /privacy/
  security_advisories_link: /advisories/
  disclosure_policy_link: /cve-policy/
  security_feedback_link: /feedback/

# AsciiDoc / AsciiDoctor
# https://github.com/asciidoctor/jekyll-asciidoc#configuration
#
asciidoc:
  processor: asciidoctor
  ext: asciidoc,adoc,ad
  # page_attribute_prefix: jekyll
  require_front_matter_header: true

asciidoctor: {}

is_hub: true

permalink: /blog/:month-:day-:year/:title/

theme: jekyll-theme-open-project

url: https://www.ribose.com

emails:
  press: press@ribose.com
  privacy: privacy@ribose.com
  support: support@ribose.com
  security: security.reports@ribose.com

algolia_search:
  api_key: '40a5c3929d2f6d51c9a062d2bdf00c20'
  index_name: 'prod_riboseopen'

tag_namespaces:
  software:
    writtenin: "Written in"
    bindingsfor: "Bindings for"
    user: "Target user"
    interface: "Interface"
  specs:
    audience: "Audience"
    completion_status: "Status"

# This has to be duplicated from jekyll-theme-open-project gem.
includes_dir: .

collections:
  projects:
    output: true
  software:
    output: true
    permalink: /software/:path/
  specs:
    output: true
    permalink: /specs/:path/
  posts:
    output: true
    permalink: /blog/:month-:day-:year/:title/
  pages:
    output: true
    permalink: /:name/
  advisories:
    output: true
    permalink: /advisories/:slug/

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - _projects/**/assets/css/*.scss
  - _projects/**/_software/_*_repo/*
  - _projects/**/_specs/**/*
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - Makefile
  - Rakefile
  - README.adoc
  - babel.config.js
  - package.json
  - package-lock.json