{% assign t = site.t[site.active_lang] | default: site.t.en %}
{% assign contact_link = "mailto:" | append: site.contact_email %}

{% if site.algolia_search %}
  <div class="search-widget">
    <input type="search" id="siteSearchInput" placeholder="{{ t.search_placeholder | default: 'Type to search…' }}">
  </div>
{% endif %}

{% if site.is_hub %}
  {% assign projects_title = t.nav_projects | default: "Projects" %}
  {% include nav-page-link.html htmlclass="projects" url="/projects/" title=projects_title %}

  {% if site.num_all_software > 0 %}
    {% assign software_title = t.nav_software | default: "Software" %}
    {% include nav-page-link.html htmlclass="software" url="/software/" title=software_title active_for_nested=true %}
  {% endif %}
  {% if site.num_all_specs > 0 %}
    {% assign specs_title = t.nav_specs | default: "Specifications" %}
    {% include nav-page-link.html htmlclass="specs" url="/specs/" title=specs_title active_for_nested=true %}
  {% endif %}
  {% if site.num_posts_combined > 0 %}
    {% assign blog_title = t.nav_blog | default: "Blog" %}
    {% include nav-page-link.html htmlclass="blog" url="/blog/" title=blog_title active_for_nested=true %}
  {% endif %}

{% else %}

  {% if site.one_software %}
    {% assign docs_title = t.nav_docs | default: "Docs" %}
    {% include nav-page-link.html htmlclass="docs" url=site.one_software.url title=docs_title active_for_nested=true %}
  {% else %}
    {% if site.num_all_software > 0 %}
      {% assign software_title = t.nav_software | default: "Software" %}
      {% include nav-page-link.html htmlclass="software" url="/software/" title=software_title active_for_nested=true %}
    {% endif %}
  {% endif %}

  {% if site.num_all_specs > 0 %}
    {% assign specs_title = t.nav_specs | default: "Specifications" %}
    {% include nav-page-link.html htmlclass="specs" url="/specs/" title=specs_title active_for_nested=true %}
  {% endif %}

  {% include project-nav.html %}

  {% if site.num_posts_combined > 0 %}
    {% assign blog_title = t.nav_blog | default: "Blog" %}
    {% include nav-page-link.html htmlclass="blog" url="/blog/" title=blog_title active_for_nested=true %}
  {% endif %}
{% endif %}

{% if site.algolia_search %}
  <a href="javascript: void 0;" class="search"><i class="fas fa-search"></i></a>
{% endif %}
