---
layout: default
---
{% assign t = site.t[site.active_lang] | default: site.t.en %}
{% assign projects = site.projects | where_exp: "item", "item.home_url != nil" %}
{% assign num_projects = projects | size %}

{% if num_projects > 0 %}
  <section class="items">
    {% include assets/symbol.svg %}

    {% for project in projects %}
      {% assign project_slug = project.path | split: "/" | slice: 1, 1 | join: "" %}
      {% assign translated_desc = site.project_descriptions[project_slug][site.active_lang] | default: project.description %}
      <a class="item {% if project.featured == true %}featured{% endif %}"
          href="{{ project.home_url }}"
          role="article">

        <header>
          <div class="logo-container">
            <div class="logo"><img src="{{ '/assets/symbol.svg' | relative_url }}" alt="{{ project.title }} logo"></div>
          </div>
          <h3 class="title">{{ project.title }}</h3>
        </header>

        <p class="body">
          {{ translated_desc }}
        </p>

        <footer class="meta">
          {% assign num_tags = project.tags | size %}
          {% if num_tags > 0 %}
            <ul class="tags">
              {% for tag in project.tags %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </footer>

      </a>
    {% endfor %}
  </section>
{% else  %}
  <p>{{ t.no_projects | default: "No projects to display." }}</p>
{% endif %}
