name: build

on:
  push:
    branches:
      - '!main'     # excludes main
      - '!staging'  # excludes staging
  pull_request:

jobs:
  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '16'

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
        bundler-cache: true

    - name: Build site
      env:
        JEKYLL_ENV: production
      run: |
        make _site
